* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	margin: 0 auto;
	padding: 0 3%;
	max-width: 1024px;
	text-align: center;
}

h1 {
	margin: 17px 0px 23px;
	font-size: 26px;
	line-height: 26px;
	color: #0E73FD;
}

div.addTask {
	border-bottom: 6px solid #C5E1FC;
	padding-bottom: 20px;
}

form {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

div.addTask input[type="text"] {
	padding: 15px;
	width: 92%;
	height: 58px;
	border-radius: 5px;
	border-color: #92A1AE;
	outline: none;
	color: #000;
}

div.addTask input[type="text"]::placeholder {
	color: #000;
}

button {
	padding: 0px;
	border: none;
	background-color: transparent;
}

button .material-icons {
	display: block;
	line-height: 24px;
	font-size: 52px;
	color: #92A1AE;
	cursor: pointer;
}

#list {
	padding-top: 26px;
	text-align: justify;
	font-size: 18px;
	color: #0F7AFD;
}

#list i {
	color: #408CE7;
}

#list ul {
	list-style-type: none;
}

#list li {
	display: flex;
	flex-direction: column;
}
#list li div.task {
	position: relative;
}

#list li div.task,
#list li div.edit {
	display: flex;
	align-items: center;
}
input[type=checkbox] {
	display: none;
}

input[type=checkbox] + label:before {
    content: "\2713";
    color: transparent;
    display: inline-block;
    border: 1px solid #000;
    font-size: 20px;    
    line-height: 22px;
    margin: 0px 10px 0 0;
    height: 22px;
    width: 22px;
    text-align: center;
    vertical-align: middle;
    transition: color ease .3s;
}

input[type=checkbox]:checked + label:before {
    color: #000;
}

#list li div.task i {
	margin-left: 10px;
	font-size: 30px;
	cursor: pointer;
}

#list div.edit input[type="text"] {
	padding: 10px;
	width: 345px;
	height: 40px;
	border-radius: 5px;
	border-color: #92A1AE;
	outline: none;
	font-weight: bold;
	color: #000;
}

#list div.edit input[type="text"]::placeholder {
	font-weight: bold;
	color: #000;
}

#list div.edit .save {
	margin-left: 10px;
	font-size: 30px;
	cursor: pointer;
}

#list i.delete {
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 32px;
	cursor: pointer;
}

div.addTask div.show,
#list li div.show {
	display: block;
}
div.addTask div.hide,
#list li div.hide {
	display: none;
}