@mixin logo($color) {
	img {
		float: left;
		width: 58px;
		height: 58px;
	}
	p {
		float: right;
		margin-top: 2px;
		margin-bottom: 5px;
		width: 85px;
		font: bold 30px/29px $fontFamily, sans-serif;
		text-align: center;
		color: $color;
		span {
			display: block;
			font-weight: 300;
			font-size: 12px;
		}
	}
}

%button-style {
	width: 180px;
	height: 60px;
	border-radius: 5px;
	border: none;
	background: $colorButton;
	font-size: 23px;
	color: #E2E5ED;
	cursor: pointer;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Source Sans Pro', sans-serif;
}

body {
	background: $bodyBackground;
	&::-webkit-scrollbar { 
	    display: none; 
	}
}

header {
	border-radius: 0 0 40% 0;
    background: url('../img/#{$headerBackground}') center center no-repeat;
    background-size: cover;
    .header-wrap {
    	margin: 0 auto;
    	padding-bottom: 220px;
    	width: 1522px;
    	.landing-logo {
    		padding-top: 25px;
    		width: 160px;
			@include logo($textColor);
    	} 
	    .header_heading {
	    	position: relative;
	    	margin-top: 149px;
	    	width: 610px;
	    	line-height: 90px;
	    	font-weight: bold;
			font-size: 90px;
			color: $textColor;
			z-index: 1;
			&::after {
				display: inline-block;
				position: absolute;
				top: 81%;
				left: 0%;
				content: "";
				width: 377px;
				height: 31px;
				background: $colorUnderline;
				z-index: -1;
			}
	    }
	    .header_text {
	    	margin-top: 41px;
	    	margin-bottom: 76px;
	    	width: 840px;
	    	font: 18px/30px $fontFamily, sans-serif;
	    	white-space: pre-line;
	    	letter-spacing: 1px;
	    	color: $textColor;
	    }
	    .header_button {
	    	@extend %button-style;
	    }
    }
}

main {
    margin: 0 auto;
    padding-top: 45px;
    width: 1522px;
	.section_text {
		position: relative;
		margin-bottom: 20px;
		text-align: center;
		font-weight: bold;
		font-size: 52px;
		color: $textColor;
		&::after {
			position: absolute;
			top: 60%;
			right: 33.6%;
			content: '';
			width: 239px;
			height: 16px;
			background: $colorUnderline;
			z-index: -1;
		}
	}
	.section_card_wrap {
		display: flex;
		justify-content: space-between;
		padding-top: 28px;
		.section_card {
			width: 32.3%;
			padding: 25px;
			border-radius: 5px;
			background-color: $cardFooterBackground;
			text-align: center;
			.section_card_img {
				width: 100%;
				border-radius: 5px;
			}
			.section_card_heading {
				position: relative;
				display: inline-block;
				padding-top: 15px;
				color: #fff;
				font: bold 27px 'Hind', sans-serif;
				z-index: 1;
				.section_card_underline {
					position: absolute;
					top: 61%;
					left: 0%;
					width: 100%;
					height: 16px;
					display: block;
					content: "";
					background-color: $colorUnderline;
					z-index: -1;
				}
			}
			.section_card_text {
				display: flex;
				align-items: center;
				padding-top: 12px;
				height: 162px;
				font: 20px/30px $fontFamily, sans-serif;
				color: $cardColorText;
			}
		}
	}
	.section_banner {
		position: relative;
		margin: 176px auto 0px;
		width: 1196px;
		border-radius: 5px;
		background: linear-gradient(90deg, map-get($gradient, firstColor), map-get($gradient, secondColor));
		.section_banner_text_wrap {
			display: inline-block;
			padding: 33px 10px 30px 125px;
			letter-spacing: 1px;
			.section_banner_heading {
				position: relative;
				padding-bottom: 22px;
				font-weight: bold;
				font-size: 36px;
				color: $textColor;
				z-index: 1;
				&::after {
					display: inline-block;
					position: absolute;
					top: 37%;
					left: 29.5%;
					content: "";
					width: 83px;
					height: 15px;
					background: $colorUnderline;
					z-index: -1;
				}
			}
			.section_banner_text {
				padding-bottom: 23px;
				font: 18px $fontFamily, sans-serif;
				color: $bannerColorText;
			}
		}
		.section_banner_button {
			position: absolute;
			top: 60px;
			right: 125px;
	    	@extend %button-style;
		}
	}
}

footer {
	margin-top: -94px;
	padding-top: $paddingFooter;
	padding-bottom: 70px;
	background: $cardFooterBackground;
	.footer-wrap {
		margin: 0 auto;
    	width: 1522px;
    	display: flex;
    	justify-content: space-between;
    	align-items: center;
    	.footer_logo {
    		padding-top: 8px;
    		width: 160px;
			@include logo($footerColorText);
    	}
		.footer_text {
			width: 386px;
			font: 18px/25px $fontFamily, sans-serif;
	    	color: $footerColorText;
		}
		.footer-cr {
			font: 20px $fontFamily, sans-serif;
	    	color: $footerColorText;
		}
	}
}