$bodyBackground: #fff;
$fontFamily: 'Hind';
$textColor: #06070C;
$headerBackground: 'm-h-day.jpg';
$colorUnderline: #025A92;
$colorButton: #245100;
$cardFooterBackground: #040407;
$cardColorText: #778B9D;
$gradient: (
	firstColor: #214C02,
	secondColor: #071BAB
);
$bannerColorText: #7D8B9D;
$footerColorText: #7D8B9D;
$paddingFooter: 160px;