$bodyBackground: #040407;
$fontFamily: 'Fresca';
$textColor: #fff;
$headerBackground: 'm-h-night.jpg';
$colorUnderline: #FF1308;
$colorButton: #C46900;
$cardFooterBackground: #0B0D14;
$cardColorText: #A3A3A3;
$gradient: (
	firstColor: #B85C01,
	secondColor: #4D0814
);
$bannerColorText: #A3A3A3;
$footerColorText: #A3A3A3;
$paddingFooter: 168px;